body {
  min-height: 100vh;
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

.header {
  background: #eee;
  text-align: center;
}

.header-content {
  position: relative;
  max-width: 700px;
  margin: auto;
}

.nav {
  text-align: center;
  padding: 10px;
}

.nav__item {
  border: none;
  margin: 5px 10px;
  padding: 5px;
}

.nav__item-text {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: border 0.4s;
}

.nav__item--selected .nav__item-text {
  border-bottom: 2px solid black;
}

.tools {
  position: absolute;
  left: 0;
  top: 50%;
  padding-left: 15px;
  transform: translateY(-50%);
}

.help-button {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: 1px solid #aaa;
}

.content {
  padding-top: 20px;
  margin: auto;
  max-width: 700px;
}

.button {
  box-shadow: inset 0 -2px 0 #aaaaaa, inset 0px 1px 1px -1px #fff, 0px 1px 1px 0px #7a7a7a;
  border-radius: 3px;
  border-radius: 3px;
  width: 120px;
  font-size: 14px;
  padding: 10px;
  margin-right: 10px;
  border: none;
  /* transition: transform 0.08s ease, background-color 0.08s ease-in-out, box-shadow 0.08s ease; */
}

/* adding animation for button click */
.button--not-disabled:active {
  box-shadow: none;
  transform: translateY(2px);
}

