.add-section{

}

.add-form {

}

.add-form__field {
  text-align: center;
  display: block;
  padding: 10px;
}

.add-form__input {
  margin-left: 10px;
  padding: 5px;
  border-radius: 3px;
}

.add-form__submit-button {
  margin: 15px auto;
  display: block;
  padding: 5px 20px;
  border-radius: 3px;
  background: none;
}