.add-form__field {
  text-align: center;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}

.add-form__input {
  margin-left: 20px;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid grey;
}

.add-form__submit-button {
  display: block;
  margin: 20px auto 30px auto;
}

.message {
  text-align: center;
  margin-bottom: 20px;
}