body {
  min-height: 100vh;
  background: white;
}

.App {
}

.header {
  background: #eee;
  text-align: center;
  position: relative;
}

.nav {
  text-align: center;
  padding: 15px;
}

.nav__item {
  margin: 10px;
}

.total-words {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
}

.content {
  padding-top: 20px;
  margin: auto;
  max-width: 700px;
}