body {
  min-height: 100vh;
  background: white;
}

.header {
  background: #eee;
  text-align: center;
  position: relative;
}

.nav {
  text-align: center;
  padding: 10px;
}

.nav__item {
  border: none;
  margin: 5px 10px;
  padding: 5px;
}

.nav__item-text {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: border 0.4s;
}

.nav__item--selected .nav__item-text {
  border-bottom: 2px solid black;
}

.total-words {
  position: absolute;
  right: 0;
  top: 50%;
  padding-right: 15px;
  transform: translateY(-50%);
}

.content {
  padding-top: 20px;
  margin: auto;
  max-width: 700px;
}