.key.unused {
  background-color: #ccc; }

.english-character {
  position: absolute;
  top: 3px;
  left: 3px;
  color: #aaa;
  font-size: 0.6em; }

.container {
  max-width: 674px;
  padding: 8px 8px;
  margin: 0 auto 30px auto;
  box-shadow: inset 1px 1px 0px #f1f1f1, 1px 1px 1px 1px #6a6a7b;
  background-color: #e3e3e3;
  border-radius: 5px;
}

.keyboard-row {
  display: flex;
}

.keyboard-row.row-1 {
  max-width: 672px; /* 56 * 12 */
}

.keyboard-row.row-2 {
  max-width: 560px; /* 56 * 10 */
  margin-left: 18px;
}

.keyboard-row.row-3 {
  max-width: 392px; /* 56 * 7 */
  margin-left: 46px;
}

.key {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 3px 2px;
  height: 30px;
  margin: 4px;
  letter-spacing: 0.5px;
  color: #3a3a3a;
  background-color: #f7f7f7;
  flex: 1;
  box-shadow: inset 0 -2px 0 #aaaaaa, inset 0px 1px 1px -1px #fff, 0px 1px 1px 0px #7a7a7a;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
  transition: transform 0.08s ease, background-color 0.08s ease-in-out, box-shadow 0.08s ease;
  cursor: pointer;
}

.key.light {
  background-color: #b2e4ff;
  box-shadow: none;
  transform: translateY(2px);
}

.key span {
  display: inline-block;
  vertical-align: middle;
}

.key::before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: '';
}

@media (min-width: 640px) {
  .key {
    height: 48px;
  }
}