.guess-section {
  text-align: center;
  font-size: 20px;
  padding: 15px;
  margin-bottom: 20px;
}

.english-word {
  margin-bottom: 20px;
}

.arabic-input {
  text-align: center;
  font-size: 30px;
  padding: 6px;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.arabic-input.correct {
  animation: fade-out 1.5s;
}

.show-answer {
  height: 30px;
}

@keyframes fade-out {
  0% {
    background-color: none;
  }
  10% {
    background-color: #98ff98;
  }
  100% {
    background-color: none;
  }
}